//@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan+2:400,500,600,700,800|Bellota+Text:300,700,700i|Lato|Montserrat:100,100i,200,200i,300,300i,400,400i,500,600,600i,700,800&display=swap');

@import "font-face.scss";
$white:#fff;
$whiteSmoke:whitesmoke;
$yellowFonce:#765c3d;
$black:#000;
$khaki:#f8d06b;
$fonce:#b4884a;
$min:2rem;
$mobTitle:30px;
$mobPara:15px;
$lato:"Lato",cursive;
$mont:"Montserrat",cursive;
$balo:"Baloo Chettan 2",cursive;
$bellota:"Bellota Text",cursive;
//GENERAL

:root
{
	font-size:14px;
}
body
{
	background: $black;
	color: $whiteSmoke;
	font-family:$lato;
}
*
{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
.ajust-title
{
	font-size:30px;
	text-align:center;
	font-family: $mont;
	padding: $min 0;
}
::placeholder
{
	color:blue;
}
.ajust-title-2
{
	font-size:24px;
	text-align:center;
	font-family: $mont;
	padding: $min 0;
}
button,
input[type=button] {
  cursor: pointer;
}

button:focus,
input:focus,
textarea:focus {
  outline: none;
}

button {
  display: inline-block;
  border: none;
  background: silver;
  color:$black;
  padding:10px 15px;
  font-family: $mont;
  font-weight: 600;
  border-radius: 4px;
  font-size: 20px;
  margin-bottom: $min;
  a
  {
	  color:$black;
  }
}

a, a:hover, a:focus
{
  text-decoration: none;
}
::selection
{
  background-color:$whiteSmoke;
}

//GLOBALS
.title-principle
{
	font-size:60px;
	font-weight:bold;
	padding: $min 0 3rem  0; 
	font-family: $lato;
}
.title-principle-2
{
	font-size:50px;
	font-weight:bold;
	padding: $min 0 3rem  0; 
	font-family: $bellota;
	text-transform: uppercase;
	letter-spacing: 2px;
	position: relative;
}
.p-link
{
	text-align:center;
	padding-top:3rem !important;
	a
	{
		color:blue;
		font-weight:700;
		font-size:14px;
	}
}

//BUTTONS ET CTA
.cta-1
{
	background-color: $khaki;
	&:hover
	{
		background-color: $white;
		
	}
	
}
.cta-2
{
	background-color: $khaki;
	color:#003;
	&:hover
	{
		background-color:#003;
		color:$white;
		a
		{
			color:$white;
		}
	}
	
}

//CORE HEADER
.header
{
	padding-bottom: $min;
}
.header-top
{
	position: relative;
	height: 80px;
	padding:0 20px;
	width: 100%;
	display: flex;
	justify-content: center;
}
.logo
{
	line-height:96px;
	float: left;
 	margin-right:8rem;
}
.logo img
{
	width: 120px;
}
.menu
{
	float: right;
	line-height: 100px;
	list-style: none;
	.sub
	 {
		display: inline-block;
		list-style-type: none;
	 }
	 a
	 {
		 color: #fff;
		 text-transform: uppercase;
		 transition: all 0.4s;
		 padding: 0px 20px;
		 letter-spacing: 2px;
		 font-size: 16px;
		 font-family: $bellota;
		 &:hover
		{
			color:$fonce;
		}
	 }
}
.drop-content
{
	display: inline-block;
}
.dropdown:focus
{
	outline: none !important;
}
.dropdown 
{
	padding: 0 1rem;
	text-align: center;
	width: 90px !important;
	.select 
	{
		cursor: pointer;
		display: block;
	}
	.dropdown-menu
	{
		text-align: center;
		background-color:$white;
		margin-top: 2px;
		border:none;
		border-radius: 0 0 5px 5px;
		display: none;
		height:40px;
		z-index: 9;
		min-width:90px !important;
	}
	.dropdown-menu li 
	{
		cursor: pointer;
		display: block;
		width: 100% !important;
		line-height: 1.5;
		a
		{
			color: $black !important;
			&:hover
			{
				color: $khaki!important;
			}
		}
	}
}
  
.show-menu-btn, .hide-menu-btn
{
	transition: all 0.4s;
	font-size: 30px !important;
	cursor: pointer;
	display: none;
}
.show-menu-btn
{
  position: absolute;
  right:15px;
  top:40px;
  .line
  {
	  width:20px;
	  height:1px;
	  background-color: $white;
	  margin-bottom:5px;
	  cursor: pointer;
  }
}

#chk
{
	position: absolute;
	visibility: hidden;
	z-index: -1111;
}
.header-main
{
	padding-top:5rem;
	padding-bottom: 8rem;
	text-align: center;
}
.home-desc
{
	margin: auto;
	max-width:60%;
	overflow: hidden;
	padding:$min;
}

.square
{
	font-size: 1.5rem !important;
}
.p-desc
{
	font-size:18px;
	letter-spacing:1px;
	padding:0 0 1.5rem  0; 
	font-weight:400;
}
.arnio-main
{
	background-color: $white;
	color:$black;
	padding-top: $min;
	display: block;
}
.arnio-carac
{
	padding-bottom: $min;
	h1
	{
		text-align: center;
	}
	.carac-content
	{
		display: flex;
		justify-content: center;
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.carac
	{
		display: flex;
		justify-content: center;
		margin-bottom: $min;
	}
	.carac2
	{
		display: flex;
		justify-content: center;
		flex-direction: column;
		.carac-1
		{
			margin-bottom: $min;
		}
	}
}
.carac-1
{	
	background:#003;
	color:$white;
	margin:auto;
	text-align: center;
	font-family: $mont;
	width:90%;
	cursor: pointer;
	position: relative;
	&::before
	{
		content: '';
		position: absolute;
		top:0;
		left:0;
		width: 100%;
		height:100%;
		background-color:$khaki;
		transform: scaleY(0);
		transform-origin: center;
		transition: transform 0.5s;		
	}
	&:hover:before
	{
		transform: scaleY(1);
		transform-origin: bottom;
		transition: transform 0.5s;
	}
	.title-c
	{
		position: relative;
		top:1%;
		padding-bottom: 0 !important;
		font-weight: 700;
	}
	&:hover .title-c
	{
		opacity:1;
	}
	.p-c
	{
		position: relative;
		top:1rem;
		font-size:1rem;
		padding:0 20px 20px 20px !important;
		letter-spacing: 1px;
	}
	&:hover .p-c
	{
		opacity:1;
	}
}
.release-arnio
{
	color:$white;
	width: 100%;
	padding:0;
	position: relative;
}
.rls-left
{
	background-color:$black;
	padding-top:50px;
	padding-bottom:50px;
	height: auto;
}
.rls-right
{
	background:$whiteSmoke;
	color:blue;
	height: auto;
}
.wrapper-e99
{
	position: relative;
	#e99-anim
	{
		text-align: center;
		padding-top: $min;
		.b-canvas
		{
			max-width: 50%;
			max-height: 15rem;
		}
	}
}

.arnio-newsletters
{
	background:$white;
	color:blue;	
}
.form-wrapper
{
	padding:$min 0;
	width:60%;
	margin: auto;
	input,textarea
	{
		display: block;
		margin-bottom: 20px;
	}
	input,textarea
	{
		width:100%;
		height:40px;
		outline:none;
		border:1px solid $fonce;
		color:blue;
		font-weight: 500;
		font-family: $mont;
		position: relative;
		text-align: justify !important;
		text-indent: 1rem;
	}
	textarea
	{
		resize: none;
		height:10vh;
	}
}

footer
{
	.footer-nav
	{
		background:$whiteSmoke;
		color: $black;
		padding:$min;
	}
	.p-end
	{
		text-align:center;
		font-weight: 500;
		font-family: $mont;
		padding: 1rem 0 !important;
	}
}
.footer-first
{
	width: 70%;
	margin: auto;
	border-top:1px solid $khaki;
	.col-md-4
	{
		text-align: justify;
		padding-top: 10px;
		&:first-child
		{
			padding-left: 0;
		}
		li
		{
			list-style: none;
			font-size:18px;
			text-align: center;
			padding-bottom: 10px;
			a
			{
				color:blue;
			}
		}
	}
}

//----------------------------------------ABOUT---------------------------------------//
.p-about
{
	text-indent: 50px;
}

//-----------------------------------------e99-------------------------------------------//

.e99-carac
{
	background:#003;
	color:$white;
	text-align: center;
	font-family: $mont;
	width: 100%;
	cursor: pointer;
	margin-bottom: $min;
	.e99-img-carac
	{
		background: $khaki;
		clip-path: ellipse(61% 59% at 50% 32%);
		width: 100%;
		padding:$min 0;
	}
	.e99-carac-text
	{
		padding:$min 0;
	}
	.icon-99
	{
		font-size: 40px;
	}
}
.e99-phone-section
{
	background:$fonce;
	color: $whiteSmoke;
	padding-bottom:5rem;
	padding-top: 20px;
	.fluider
	{
		padding-top:20px;
	}
}
.e-phone1
{
	display: flex;
	justify-content: center;
	flex-direction: row;
	img
	{
		display: block !important;
		margin-bottom:1rem;
		margin-right: $min;
		max-width: 100%;
		max-height: 80vh;
		cursor:pointer;
	}
}
.charger-wrap
{
	img
	{
		display: block;
		margin: auto;
		max-width:60%;
	}
}
//-------------------------------------CARRIERS-------------------------------------

//-------------------------------------APPLY--------------------------------------

.upload-btn-wrapper 
  {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width:100%;
	height:50px;
	margin-bottom: $min;
  }

.btn-up
  {
    height:50px;
    width:100%;
    border: none;
    color:$black;
    margin:auto;
    background:$fonce;
    border-radius: 3px;
  }

.upload-btn-wrapper input[type=file] 
  {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor:pointer;
  }

//--------------------------------------------------------------------------------------//

//MEDIAS QUERIES

@media screen and (min-width:1199.98px)
{
	.drop-content
	{
		margin-left:200px;
	}
}

@media screen and (min-width:991.98px)
{
	.dropdown-menu
	{
		margin-top: -30px !important;
	}
}

@media screen and (min-width: 992px) and (max-width:1199.98px)
{
	.logo
	{
		margin-right:4rem !important;
	}
	.drop-content
	{
		margin-left:100px;
	}
}

@media screen and (max-width: 992px)
{
	header
	{
		max-width: 98%;
	}
	.logo
	{
		position: absolute;
		left:2%;
		top:0%;
  	}
	.show-menu-btn, .hide-menu-btn
	{
		display: block;
    }
	.menu
	{
		position: fixed;
		width: 100%;
		height: 100vh !important;
		right: -100%;
		top: 0;
		background:#f8d06b;
		color: #333;
		text-align: center;
		z-index:1000;
		padding:50px 0;
		line-height: normal;
		transition: 0.7s;
		.sub
		{
			display: block;
			padding:25px 15px;
		}
		.drop-content
		{
			padding:25px 15px;
		}

	}
	.hide-menu-btn
	{
		position: absolute;
		top:28px;
		right: 20px;
		color: $whiteSmoke;
	}
	.logo img
	{
		width: 150px !important;
	}
	#chk:checked ~ .menu
	{
		right: 0;
	}
	.square
	{
		font-size: 18px !important;
	}
	.select 
	{
		color:$white;
	}
	.e-phone1
	{
		display: flex;
		justify-content: center;
		flex-direction: column;
		img
		{
			margin: auto;
			margin-bottom: $min;
		}
	}
}
@media screen and (max-width: 768px)
{
	.ajust-title
	{
		font-size:18px;
		text-align:left;
		padding-left:20px;
	}
	.ajust-title-2
	{
		font-size:14px;
		text-align:left;
		padding-left:20px;
	}
	.title-principle
	{
		text-align: left;
		font-size:30px;
		padding-bottom: 10px !important;
		letter-spacing:1px;
	}
	.title-principle-2
	{
		text-align:left;
		font-size:23px;
		padding-bottom: 10px !important;
	}
	.p-desc
	{
		text-align:left;
		font-size:15px;
		padding-bottom: 10px !important;
	}
	.title-c
	{
		font-size:16px !important;
		letter-spacing:1.2px;
	}
	.p-c
	{
		font-size:12px !important;
		padding-top:10px;
	}
	.header-main
	{
		.home-desc
		{
			min-width:100%;
			padding-bottom: $min !important;
		}
		.square
		{
			font-size: 10px !important;
		}
	}
	button
	{
		float: left;
		font-size:14px;
	}
	.form-wrapper
	{
		padding-top:$min;
		padding-bottom:40px;
		width:80% !important;
		margin: auto;
		input
		{
			width:100%;
			height:40px;
		}
		textarea
		{
			height:80px;
		}
	}
	.footer-first
	{
		border-top:none !important;
	}
}

@media screen and (max-width: 576px)
{
	.header-main
	{
		padding-top:0 !important;
	}
	button
	 {
		padding:5px 8px !important;
	}
	.logo img
	{
		display: inline-block;
		width: 90px !important;
	}
	.form-news
	{
		margin-bottom:50px;
	}
	#e99-anim
	{
		.b-canvas
		{
			max-width:170px !important;
			max-height: 150px !important;
		}
	}
	
}